.card{
    margin-left: 440px;
    margin-top: 100px;
    border: none;
    width: 410px;
    height: 450px;
    border-radius: 13px;
    box-shadow: 0 28px 38px rgba(0, 0, 0, 0.5);
    background-color:wheat;
}
.formLogin{
    text-align: left;
    margin-top: 200px;
    margin-left: 10px;
    font-style: italic;
}
.inUsuario, .inContraseña{
    width: 388px;
}
.btnIniciarSesion{
    width: 300px;
    margin-left: 45px;
}
.olvContra{
    margin-left: 220px;
}
body{
    background-image: url('/Login/img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}